div.ticketupdates {
  width: 49%;
  float: right;
}
div.ticketinfo {
  width: 49%;
  float: left;
}
div#ticketlistoptions {
    display: block;
    width: 95%;
    min-height: 15em;
}
div.left2div {
    display: inline-block;
    width: 49%;
    /*float: left;*/
}
div.right2div {
    display: inline-block;
    width: 49%;
    float: right;
}
li {
    min-width: 1px;
}
table {
    table-layout: fixed;
    word-wrap: break-word;
}
