div.ticketupdates {
  width: 49%;
  float: right;
}
div.ticketinfo {
  width: 49%;
  float: left;
}
div#ticketlistoptions {
    display: block;
    width: 100%;
    min-height: 15em;
}
div.left2div {
    display: inline-block;
    width: 49%;
    /*float: left;*/
}
div.right2div {
    display: inline-block;
    width: 49%;
    float: right;
}
li {
    min-width: 1px;
}
table {
    word-wrap: break-word;
}

table.helpdesktable {
    width: 100%;
}

table.detailstable tr td:first-child {
    width: 30%;
}

table.assigntable tr td:first-child {
    width: 70%;
}

table.updatelisttable>tbody>tr>td {
    padding: 0;
}

table.updatetable {
    margin: 0;
}

table.updatetable th {
    text-align: left;
}

table.updatetable tr td:first-child {
    width: 30%;
}
